@import "tailwindcss";

@theme {
    --color-background: var(--background);
    --color-surface: var(--surface);
    --color-surface-secondary: var(--surface-secondary);
    --color-primary: var(--primary);
    --color-primary-hover: var(--primary-hover);
    --color-text: var(--text);
    --color-text-secondary: var(--text-secondary);
}

:root {
    --background: #1d1d1d;
    --surface: #242424;
    --surface-secondary: #2d2d2d;
    --primary: oklch(72.3% 0.219 149.579);
    --primary-hover: oklch(62.7% 0.194 149.214);

    --text: #e9e9e9;
    --text-secondary: #a1a1a1;
}

html[theme=light] {
    --background: #dee4df;
    --surface: #f7f6f6;
    --surface-secondary: #ffffff;

    --text: #242424;
    --text-secondary: #5c5c5c;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: all .3s ease-in-out;
    scrollbar-width: thin;
    scrollbar-color: oklch(72.3% 0.219 149.579) transparent;
}




body {
    background-color: var(--background);
}

.slideLeft {
    animation: slide-left 0.5s ease-out both .3s;
}

@keyframes slide-left {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0px);
    }
}

.slideTop {
    animation: slide-top 0.3s ease-out both .5s;
}

@keyframes slide-top {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}